footer{
     margin-top: 50px;
     background: url('https://s3-alpha-sig.figma.com/img/5c0b/fd48/e571b1e50a74e6fd2a5c5a17451a1bcc?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Q8ZyKJTqV4mlG7YRgb7CU7uKAepnIeTn16EZzbQyAZGpI2YWHHOnT2380PSSAwC2oy8GrXc~s3mUxJwZzcOM74rJveUjg5jnEQsFe4z66QB7X6ufB31nQVGdPFSABg0TZNfRdQ6Bz4jkBwaxeLjzVBx05ADH5~cE8XeszriruhmtqXyHSkdQt4yLoiBuWMh6eTXVsoRXccyVqkec5ysMYQWzfdUv01950rNKIdowbwGmSyd-WIUkaBYsOtXjgF3fJ-QMZxruD7HpgV5EBIFGlnV1Kyoux8tMPlbEkdCK4YcMzV1bs8hmqb2laDYVDfJuSsqplZhDOV3tWHaPfL8l6Q__');
     height: 110px;
     background-size: cover;
     background-position: center;
}